<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title TypeScript Webpack BoilerPlate
    meta(name="viewport", content="width=device-width,initial-scale=1")
  body
    h1 TypeScript Webpack BoilerPlate
    img(src=require("./../images/common/sample.jpg") alt="" width="300px")

    #app
